@inherits Glass.Sitecore.Mapper.Razor.Web.Ui.TypedTemplate<Website.MVC.Model.Base.BasePageModel>
<div class="row">
    <div class="twelve columns">
        <h1>@Editable(x => x.ContentTitle)</h1>
    </div>
</div>