@inherits Glass.Sitecore.Mapper.Razor.Web.Ui.TypedTemplate<Website.MVC.Model.Base.BasePageModel>
@{

}
<div class="row">
    <div class="three columns">
        @Placeholder("content-left-column")
    </div>
    <div class="nine columns">
        @Placeholder("content-right-column")	
    </div>
</div>