<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sc.variable name="dataFolder">
      <patch:attribute name="value">C:\Kayee\Websites\SUGNL-Website\Data\</patch:attribute>
    </sc.variable>
    <!-- SITES -->
    <sites>
      <site name="sugnl" patch:before="site[@name='website']" hostName="sugnl.dev" language="nl-NL" rootPath="/sitecore/content" startItem="/home" database="master" virtualFolder="/" physicalFolder="/" domain="extranet" allowDebug="true" cacheHtml="true" htmlCacheSize="10MB" registryCacheSize="0" viewStateCacheSize="0" xslCacheSize="0" filteredItemsCacheSize="2MB" enablePreview="true" enableWebEdit="true" enableDebugger="true" disableClientData="false" />
    </sites>
    <!-- EVENTS -->
    <events>
      <event name="publish:end">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site hint="sugnl">sugnl</site>
          </sites>
        </handler>
      </event>
      <event name="publish:end:remote">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site hint="sugnl">sugnl</site>
          </sites>
        </handler>
      </event>
    </events>
    <!-- LINKMANAGER -->
    <linkManager>
      <patch:attribute name="defaultProvider">sugnl</patch:attribute>
      <providers>
        <clear />
        <add name="sugnl" type="Sitecore.Links.LinkProvider, Sitecore.Kernel" addAspxExtension="true" alwaysIncludeServerUrl="false" encodeNames="true" languageEmbedding="never" languageLocation="filePath" lowercaseUrls="true" shortenUrls="true" useDisplayName="false" />
      </providers>
    </linkManager>
    <!-- ENCODENAMEREPLACEMENTS -->
    <encodeNameReplacements>
      <replace mode="on" find=" " replaceWith="-" />
    </encodeNameReplacements>
    <!-- SITECORE GLASS MAPPER PIPELINE -->
    <pipelines>
      <initialize>
        <processor type="Website.Pipelines.InitializeGlassMapper, SUGNL.Website" />
      </initialize>
    </pipelines>
    <glassMapperModels>
      <type>Website.MVC, SUGNL.Website</type>
    </glassMapperModels>
    <!-- SETTINGS -->
    <settings>
      <setting name="HtmlEditor.DefaultProfile">
        <patch:attribute name="value">/sitecore/system/Settings/Html Editor Profiles/Rich Text Full</patch:attribute>
      </setting>
      <setting name="InvalidItemNameChars">
        <patch:attribute name="value">\/:?&quot;&lt;&gt;|[]-</patch:attribute>
      </setting>
      <setting name="ItemNotFoundUrl">
        <patch:attribute name="value">/404</patch:attribute>
      </setting>
      <setting name="LayoutNotFoundUrl">
        <patch:attribute name="value">/Error</patch:attribute>
      </setting>
      <setting name="Media.RequestExtension">
        <patch:attribute name="value"></patch:attribute>
      </setting>
      <setting name="RequireLockBeforeEditing">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
      <setting name="WelcomeTitle">
        <patch:attribute name="value">Welcome to Sitecore SUGNL</patch:attribute>
      </setting>
      <setting name="GoogleAnalytics.TrackerCode" value="UA-20568878-1" />
    </settings>
  </sitecore>
</configuration>