@using Website.MVC.Model.Interfaces
@inherits Glass.Sitecore.Mapper.Razor.Web.Ui.TemplateBase<Website.MVC.Model.Interfaces.ICarrouselSlides>
   
<div class="row hide-for-small">
    <div class="twelve columns">
        <div id="featured">
            @foreach (ICarrouselSlide carrouselSlide in Model.CarrouselSlides)
            {
                <a href="@carrouselSlide.SlideLink.Url"><img src="@carrouselSlide.SlideImage.Src" /></a>
            }
        </div>
    </div>
</div>