@using System.Collections.Specialized
@using Website.MVC.Model.Interfaces
@inherits Glass.Sitecore.Mapper.Razor.Web.Ui.TemplateBase<Website.MVC.Model.FooterFolderModel>
<div class="row">
    @foreach (IFooterMenu footerMenu in Model.FooterMenus)
    {
        <div class="three columns">
            <h3>@footerMenu.Name</h3>

            @if (footerMenu.FooterMenuLinks.Any())
            {
                <ul class="@Editable(footerMenu, x=> x.CssClassChildren)">
                    @foreach (IFooterMenuLink footerMenuLink in footerMenu.FooterMenuLinks)
                    {
                        <li>
                            @GlassHtml.RenderLink(@footerMenuLink.LinkUrl, new NameValueCollection {{"class", footerMenuLink.LinkCssClass}, {"title", footerMenuLink.LinkTitle}} , footerMenuLink.LinkTitle)
                        </li>
                    }
                </ul>
            }
        </div>
    }
</div>